.swiper-slide
    background-color: rgba(255,255,255,0.8)
    color: #212330
    // display: inline-block
    // margin: 0 10px
    border-radius: 5px
    padding: 20px 24px
    // height: 300px
    font-size: 14.5px
    font-weight: 600
    line-height: 1.5
    width: 200px !important
    margin: 0 12px

.hand-cards
    height: 300px

    &--card
        background-color: rgba(255,255,255,0.8)
        color: #212330
        display: inline-block
        width: 220px
        min-width: 220px
        margin: 0 10px
        border-radius: 5px
        padding: 20px 24px
        height: 300px
        font-size: 14.5px
        font-weight: 600
        line-height: 1.5

        &.selected
            border: 1px solid red
