<div class="hand-cards">
    <div *ngIf="sliderShown">
        <div class="swiper-wrapper">
            <swiper class="swiper-container"
                style="height: 300px"
                [config]="config"
                (indexChange)="onIndexChange($event)"
                (swiperTransitionStart)="onSwiperEvent('transitionStart')"
                (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">

                <div class="swiper-slide"
                    *ngFor="let card of cards; let idx = index;"
                    [class.selected]="card.selected"
                    (click)="handleCardClick(card, idx)">

                    {{card.text}}
                </div>
            </swiper>
        </div>
    </div>
</div>
