@import '_mixins'

.rooms-list
    margin: 44px auto
    width: 100%
    padding: 16px 24px

    @include breakpoint(xl)
        width: 50%

    &--header
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 24px

        &>h5
            font:
                weight: 500
                size: 14px
            margin: 0

    &--room
        background-color: #2e3142
        font-weight: 500
        font-size: 13px
        cursor: pointer
        padding: 14px 20px
        display: flex
        align-items: center
        justify-content: space-between
        margin: auto
        margin-bottom: 3px

        &:hover
            color: #32ffb4
