@import '_mixins'

.game

    &--header, &--room-list--header
        padding: 0 12px
        height: 54px
        display: flex
        align-items: center
        justify-content: space-between
        background-color: #212330

        &--players

        &--admin-controls
            display: flex
            align-items: center
            justify-content: flex-end

    &--main-area

        &--loading
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            text-align: center

            &>span
                display: block
                margin-top: 24px

