<div class="game">
    <ng-container *ngIf="!!room">
        <div class="game--header">
            <button icon-btn (click)="showPlayersList()">
                <i class="fas fa-trophy"></i>
            </button>

            <div class="game--header--admin-controls">
                <admin-controls *ngIf="state.playerIsAdmin" (onClick)="dispatchAction($event)" [roomStatus]="state.status"></admin-controls>
                <master-controls *ngIf="state.playerIsMaster" (onClick)="dispatchAction($event)" [roundStatus]="state.rounds[state.rounds.length - 1]?.status"></master-controls>
            </div>
        </div>

        <div class="game--main-area">
            <main-card *ngIf="state.mainCard;else smoothLoader" [card]="state.mainCard"></main-card>

            <ng-template #smoothLoader>
                <div class="game--main-area--loading">
                    <smooth-loader></smooth-loader>
                    <span>{{gameLoadingMessage || 'Finding more cards...'}}</span>
                </div>
            </ng-template>
        </div>

        <div class="game--secondary-area">
            <hand-cards *ngIf="state.handCards" (onClick)="onHandCardClick($event)" [cards]="state.handCards"></hand-cards>
        </div>
    </ng-container>

    <ng-container *ngIf="!room">
        <div class="game--room-list">
            <div class="game--room-list--header">
                <button icon-btn (click)="showSettings()">
                    <i class="fas fa-cog"></i>
                </button>
            </div>

            <rooms-list (onRoomCreate)="joinRoom({ create: true })"
                (onRoomClick)="joinRoom({ room: $event.id })"
                (onRefreshClick)="refreshRooms()"
                [rooms]="rooms">
            </rooms-list>
        </div>
    </ng-container>

    <!-- {{room}} -->
    <!-- <h1>Cards against humanity</h1>

    <div>

        <div class="rooms">
            <div class="rooms-header">
                <h5>Available rooms:</h5>

                <div>
                    <button onclick="refreshRoomsList()">Refresh</button>
                    <button onclick="createRoom()">Create room</button>
                </div>
            </div>

            <div class="rooms-list"></div>
        </div>

        <game></game>
    </div> -->
</div>
